{{define "variants"}}
            <div class="reveal-block">
              <div class="reveal-block-title title-with-button" onclick="toggleModule('links-4', 'btn-links-4')">
                <h3>Варіанти індивідуальних завдань</h3>
                <button id="btn-links-4" class="reveal-button">
                  <svg width="45" height="45" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 6L15 12L9 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="separator"></div>
              <div class="reveal-block-content hidden" id="links-4">

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>1</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-застосунок для електронної черги обслуговування клієнтів</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>2</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Сервіс моніторингу енергоспоживання</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>3</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Система моніторингу сонячної енергетичної установки</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>4</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Система моніторингу вітроенергетичної установки</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>5</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Панель збору й обробки даних з розумних лічильників</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>6</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Аналітична платформа енергоефективності будівель</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>7</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Портал аналізу втрат в електромережах</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>8</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-панель управління Smart Grid для кварталу</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>9</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Система накопичення енергії</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>10</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Портал диспетчерського управління електростанцією</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>11</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Система балансування генерації та споживання електроенергії</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>12</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Платформа обміну або торгівлі електроенергією</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>13</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-застосунок розрахунків та білінгу в сфері енергетики</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>14</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Портал аукціонів/тендерів відновлюваної енергії</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>15</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-сервіс сертифікації та обігу «зеленої» енергії</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>16</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-платформа управління аваріями в енергосистемі</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>17</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Сервіс прогнозування попиту на електроенергію</p>
                  </div>
                </div>
                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>18</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-інтерфейс керування зарядними станціями електромобілів</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>19</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Хмарний портал збору та агрегації даних з IoT-датчиків енергії</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>20</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Платформа для виявлення пікових навантажень в системі</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>21</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Система віддаленого керування локальним мікрогрідом</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>22</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Інтерфейс керування та аналітики для домашніх енергосховищ</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>23</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-система обліку та контролю енергії на підприємстві</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>24</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Сервіс прогнозування генерації відновлювальної енергії</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>25</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-інструмент для розрахунку вуглецевого сліду споживачів</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>26</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-застосунок для моніторингу аварійних відключень</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>27</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Сервіс виявлення аномалій енергоспоживання</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>28</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Веб-застосунок управління енергетичними контрактами</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>29</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Система безпеки й контролю персоналу підприємства</p>
                  </div>
                </div>

                <div class="option-block border-container link-yellow-container">
                  <div class="white-icon bl-icon bl-icon-green">
                    <div class="boarder-icon">
                      <p>30</p>
                    </div>
                  </div>
                  <div class="desc">
                    <p>Портал для здійснення комунальних платежів</p>
                  </div>
                </div>
              </div>
            </div>
{{end}}