# Конфігурація БД
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Конфігурація серверу
SERVER_ADDR=:8080
TLS_CERT_PATH=server.crt
TLS_KEY_PATH=server.key

# Ключ безпеки
CSRF_KEY=32-byte-long-auth-key-goes-here!!